<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Blocitoff</h1>
      <p>A self destructing todo list<i class="glyphicons glyphicons-bomb"></i></p>
    </div>
   </div>
</div>