
 @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 body {
  background: image-url('clocks.jpg');
 }
 
 .showMain, .item {
     border-radius: 25px;
     background: none;
     text-align: center;
     background-color: rgba(211, 211, 211, 0.8);
     padding: 0.625rem;
 }
 
 .jumbotron {
     background: none;
     text-align: center;
     background-color: rgba(211, 211, 211, 0.8);
 }
 
 h1, h2, h3, p {
     font-family: 'Fjalla One', sans-serif;
     color: 7e7e7e;
 }

 .container {
     padding-top: 20px;
 }
 
 .field {
     font-family: 'Fjalla One', sans-serif;
     color: 7e7e7e;
 }
 
a {
     font-weight: bold;
     color: black;
     text-decoration: none;
 }
 
.alert {
     font-weight: bold;
     color: black;
     border: none;

}
 
.btn {
    margin-top: 0.3125em;
} 