// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
    font-family: 'Anton';
    color: 7e7e7e;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.6);
}